// SPDX-License-Identifier: GPL-2.0
/*
 * Samsung SMDK2416 board device tree source
 *
 * Copyright (c) 2013 Heiko Stuebner <heiko@sntech.de>
 */

/dts-v1/;
#include <dt-bindings/interrupt-controller/irq.h>
#include "s3c2440.dtsi"

/ {
	model = "MINI2440";
	compatible = "samsung,mini2440", "samsung,s3c2440";

	memory@30000000 {
		device_type = "memory";
		reg =  <0x30000000 0x4000000>;
	};

	xti: clock-0 {
		compatible = "fixed-clock";
		clock-frequency = <12000000>;
		clock-output-names = "xti";
		#clock-cells = <0>;
	};

        srom-cs4-bus@20000000 {
                compatible = "simple-bus";
                #address-cells = <1>;
                #size-cells = <1>;
                reg = <0x20000000 0x8000000>;
                ranges;

                ethernet@20000000 {
                        compatible = "davicom,dm9000";
                        reg = <0x20000000 0x2 0x20000004 0x2>;
                        interrupt-parent = <&gpf>;
                        interrupts = <7 IRQ_TYPE_LEVEL_HIGH>;
                        davicom,no-eeprom;
                };
        };
};

&rtc {
	status = "okay";
};

&uart_0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_data>, <&uart0_fctl>;
};

&uart_1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_data>, <&uart1_fctl>;
};

&uart_2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart2_data>;
};

&watchdog {
	status = "okay";
};
